[user]
	name = Tim Moore
	email = tmoore@incrementalism.net
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	st = status
	stat = status
	svn-checkout = svn clone -s
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
	ff = pull --ff-only
[github]
	user = TimMoore
[merge]
	tool = opendiff
[push]
	default = upstream
