[user]
	name = Tim Moore
	email = tmoore@incrementalism.net
[commit]
	verbose = true
[credential]
	helper = osxkeychain
[diff]
	mnemonicPrefix = true
	renames = copy
	algorithm = histogram
[fetch]
	prune = true
[help]
	autoCorrect = 10
[log]
	follow = true
[merge]
	conflictStyle = diff3
[pager]
	log  = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[pull]
	rebase = true
[push]
	# simple is the default in Git 2.0+,
	# but make it explicit in case I ever end up
	# using an older version of git by mistake
	default = simple
[rebase]
	autoSquash = true
	autoStash = true
[stash]
	showPatch = true

[alias]
	co = checkout
	br = branch
	st = status
	stat = status
	ff = pull --ff-only
	graph = log --graph \
			--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' \
			--abbrev-commit \
			--date=relative
	authors = shortlog -sne
	conflicts = diff --name-only --diff-filter=U
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git

# Used by the hub tool
[github]
	user = TimMoore

# Allow local overrides (useful for work email addresses)
[include]
	path = ~/.gitconfig.local
