"\e[5D": beginning-of-line
"\e[5C": end-of-line

# Hat tip: https://coderwall.com/p/oqtj8w
"\e[A": history-search-backward
"\e[B": history-search-forward

set completion-ignore-case on
set bell-style none
set show-all-if-ambiguous on
